body{
    font-family: Helvetica;
    background: linear-gradient(90deg,
        rgba(212, 0, 255, 0.384) 0%,
        rgba(204, 0, 255, 0.671) 10%,
        rgb(169, 33, 222) 20%,
        rgb(220, 74, 208) 30%,
        rgb(182, 6, 144) 40%,
        rgb(216, 18, 206) 50%,
        rgb(119, 28, 238) 60%,
        rgb(179, 21, 242) 70%,
        rgb(193, 28, 199) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgb(153, 0, 255) 100%);
}


h1{
    text-align: center;
    margin-bottom: 10px;
}

#start{
    padding: 5px;
    font-size: 25px;
}

#restart{
    padding: 5px;
    font-size: 25px;
}

button.image{
    background-color: transparent; 
    border:transparent;
    grid-area: auto / auto / span 1 / span 1;
    width: 300px;
    height: 200px; 

}

button.image:hover{
    width: 110%;
    height: 110%;
}

img{
    width: inherit;
    height: inherit;
    border-radius: 8px;
    object-fit: cover;
    margin: 8px auto 8px auto;
}

div.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-template-rows: repeat(4, 1fr);
    gap: 25px;
    justify-content: center;
    align-content: center;
    margin: 20px auto auto auto;
}

div.polaroid{
    width: 90%;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-bottom: 5px;
}

p.caption{
    font-size: 20px;
    text-align: center;
    margin: auto;
}

@media (max-width: 600px){
}

@media (min-width: 601px) and (max-width: 1024px){
}

@media (min-width: 1025px) and (max-width: 1400px){
}

